@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --primary: #2563eb;
  --primary-foreground: #e9effd;

  --secondary: #ebad25;
  --secondary-foreground: #171104;

  --background: #f3f7fc;
  --foreground: #040a17;

  --card: #ffffff;
  --card-foreground: #040a17;

  --popover: #ffffff;
  --popover-foreground: #040a17;

  --muted: #d3e0fb;
  --muted-foreground: #123276;

  --accent: #92b1f5;
  --accent-foreground: #040a17;

  --destructive: #c30000;
  --destructive-foreground: #fdf7e9;

  --border: #ccc;
  --input: #bed0f9;
  --ring: #2563eb;

  /* Tints & Shapes */
  --shape4: #040a17;
  --shape2: #123276;
  --shape1: #163b8d;
  --tint4: #92b1f5;
  --tint3: #bed0f9;
  --tint2: #d3e0fb;
  --tint1: #e9effd;

  --secondaryShape1: #171104;
  --secondaryShape2: #2f2307;
  --secondaryShape3: #765612;
  --secondaryShape4: #bc8a1e;
  --secondaryTint4: #edb53b;
  --secondaryTint3: #f5d692;
  --secondaryTint2: #f9e6be;
  --secondaryTint1: #fdf7e9;

  /* Extra colors */
  --color-info: #2f80ed;
  --color-success: #00966d;
  --color-warning: #e2b93b;
  --color-error: #c30000;

  --base-primary: #ebad25;
  --base-primary-blue: #2563eb;
  --base-background: #f3f7fc;
  --text-gray: #ababab;

  --radius: 0.625rem;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-poppins);
}

.dark {
  --background: #040a17;
  --foreground: #e9effd;

  --card: #123276;
  --card-foreground: #e9effd;

  --popover: #163b8d;
  --popover-foreground: #e9effd;

  --primary: #92b1f5;
  --primary-foreground: #040a17;

  --secondary: #bc8a1e;
  --secondary-foreground: #fdf7e9;

  --muted: #123276;
  --muted-foreground: #bed0f9;

  --accent: #2563eb;
  --accent-foreground: #fdf7e9;

  --destructive: #c30000;
  --destructive-foreground: #fdf7e9;

  --border: #2f2307;
  --input: #2f2307;
  --ring: #ebad25;

  --sidebar: #163b8d;
  --sidebar-foreground: #e9effd;
  --sidebar-primary: #2563eb;
  --sidebar-primary-foreground: #fdf7e9;
  --sidebar-accent: #765612;
  --sidebar-accent-foreground: #fdf7e9;
  --sidebar-border: #2f2307;
  --sidebar-ring: #92b1f5;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
